
@model AdminViewModel

<table class="bootstrap-table table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">UserName</th>
        </tr>
    </thead>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.UserName</td>
            <td>
                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.Id">Edit</a> |
                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.Id">Details</a> |
                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.Id">Delete</a>
            </td>
        </tr>

    }
</table>
