@using Microsoft.AspNetCore.Identity

@inject SignInManager<ckl.Data.ApplicationUser> SignInManager
@inject UserManager<ckl.Data.ApplicationUser> UserManager

@model IEnumerable<HoroscropeReading>
@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="container">
    <h2>Delete Horoscope</h2>
    <div class="col-md-9">
        <div class="profile-content">
            <form asp-controller="Horoscope" asp-action="Delete" method="post">

                <table class="bootstrap-table table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">UserName</th>
                        </tr>
                    </thead>
                    @foreach (var reading in Model)
                    {
                        <tr>
                            <td>@reading.Id</td>
                            <td>@reading.Title</td>
                            <td>@reading.Desciption</td>
                            <td>@reading.Created</td>
                            <td>
                                <a asp-controller="Horoscope" asp-action="Edit" asp-route-id="@reading.Id">Edit</a> |
                            </td>
                        </tr>
                    }
                </table>
                <button asp-action="Delete" asp-controller="Horoscope" type="submit" class="btn btn-danger"> Delete</button>
            </form>
        </div>
    </div>
</div>