@model NewsletterViewModel
@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2>ViewAll</h2>
    <div class="col-md-9">
        <div class="profile-content">
                <table class="bootstrap-table table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Desciption</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    @foreach (var newsletter in Model.Newsletters)
                    {
                        <tr>
                            <td>@newsletter.Title</td>
                            <td>@newsletter.Desciption</td>
                            <td>@newsletter.UserName</td>
                            <td>
                                <a asp-controller="Newsletter" asp-action="Details" asp-route-id="@newsletter.Id" class="btn btn-sm btn-default">Edit</a> 
                                <a asp-controller="Newsletter" asp-action="Details" asp-route-id="@newsletter.Id" class="btn btn-sm btn-info">Details</a> 
                                <a asp-controller="Newsletter" asp-action="Delete" asp-route-id="@newsletter.Id" class="btn btn-sm btn-danger">Remove</a>
                            </td>
                        </tr>
                    }
                </table>
        </div>
    </div>
</div>
